.articles-maincard {
    padding: 21px;
    margin: 15px;
    overflow: auto;
}

.articles-lastcard {
    padding: 21px;
    margin: 15px;
}

.articles-lastext {
    font-size: 12px;
}

.articles-miintext {
    margin: 12px;
}

.tart-active-span {
    color: var(--color-active);
}

.simplified-table-bodyline {
    text-align: left;
}

.simplified-table-bodyline-button {
    display: flex;
    align-items: right;
    justify-content: right;
}

.articles-list-miin {
    display: flex;
    justify-content: center;
}