.editor-leftbar {
    width: 43%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
}

.edit-art-input {
    margin: 1px 5px;
}

.important-left-input {
    margin: 0px !important;
    width: 80%;
    font-size: 10px;
}

#miin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-art-messagebox {
    display: none;
    opacity: 0.0;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: fixed;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
}

.shrinktag {
    width: 120px;
}

.editart-flex {
    display: flex;
}

.edit-art-messagebox-shown {
    opacity: 1.0;
}

.editor-rightbar {
    width: 57%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow-y: auto;
}

.editor-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.template-main {
    width: 100%;
}

.editor-textarea {
    font-size: 10px;
    flex: 1;
    padding: 5px;
    margin: 5px;
    color: var(--color-text);
    background-color: var(--color-body);
}

.editor-textarea:focus {
    outline: none;
}

.editor-showarea {
    font-size: 10px;
    flex: 1;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    background-color: var(--color-card);
    color: var(--color-text);
    overflow: auto;
}

.editor-showarea p {
    margin: 2px;
    padding: 4px;
}

.cpp-headparagraph {
    font-size: 16px;
}