.ce-main-t-a {
    flex: 1;
    background-color: var(--color-body);
    padding: 5px;
    margin: 12px;
    color: var(--color-text);
    z-index: 100;
    opacity: 0.5;
    font-size: 14px;
}

.ce-main-t-a:focus {
    outline: none;
}

* {
    tab-size: 4 !important;
}

#main {
    height: 100vh;
}

.ce-main-over {
    position: absolute;
    left: 12px;
    right: 12px;
    top: 12px;
    bottom: 12px;
    padding: 5px;
    border: 1px solid var(--color-text);
    z-index: 50;
    pointer-events: none;
    font-size: 14px;
}

* {
    text-decoration: none;
    font-style: normal !important;
}

.ce-main-over-over {
    position: absolute;
    left: 17px;
    top: 17px;
    height: 14px;
    width: 1px;
    background-color: red;
    z-index: 300;
}

.ce-main {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}

.ccc {
    background-color: #000000;
    margin: 0px;
    padding: 0px !important;
    border: none !important;
}

.ccc code {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    border: none !important;
    opacity: 1;
}

.ccc * {
    margin: 0px !important;
    padding: 0px !important;
}