.cd-button {
    background-color: var(--color-card);
    border: 2px solid var(--color-card-border);
    color: var(--color-text);
    padding: 2px 12px;  
    border-radius: 5px;
    margin: 2px 12px;
}

.cd-button:focus {
    outline: none;
}

.cd-button:hover {
    background-color: var(--color-navitem-hover);
}

.cd-all {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cd-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}