body {
    overflow: hidden;
}

.hover-translate {
    transition: transform 0.3s ease-out;
}

.hover-translate:hover {
    transform: translateY(-3px);
}

.hover-opacity {
    transition: opacity 0.3s ease-in-out;
}

.hover-opacity:hover {
    opacity: 0.75;
}

*::-webkit-scrollbar {
    display: none;
}

pre {
    border: 2px solid var(--color-favicon-border);
    padding: 5px;
    overflow-y: auto;
}

.confirm {
    background-color: var(--color-confirm) !important;
    border: 2px solid var(--color-confirm-2) !important;
}

.cancel {
    background-color: var(--color-cancel) !important;
    border: 2px solid var(--color-cancel-2) !important;
}