@import url('/styles/template/home.css');
@import url('/styles/base/text.css');

:root {
    --color-background-primary: #192331;
    --color-background-secondary: #000b1ab8;
    --color-background-checked: #1b3f4874;
    --color-border: #252f3e8d;
    --color-text-primary: #e6edf3;
    --color-text-secondary: #848d97;
    --color-link: #58a6ff;
    --color-linked: #195496;
    --font-family: 'Fira Code';
}

* {
    margin: 0px;
    padding: 0px;
}