:root {
    --color-body: #ffffff;
    --color-leftbar-shadow: #333333aa;
    --color-leftbar-background: #eeeeeeaa;
    --color-template-border: #333333aa;
    --color-navitem-border: #22222277;
    --color-favicon-border: #333333;
    --color-navitem-chosen: #bdbc8986;
    --color-navitem-hover: #55555533;
    --color-navitem-chosen-hover: #7b7a4486;
    --color-text: #222222;
    --color-link: #4052bc;
    --color-link-hover: #33447a;
    --color-title-border: #33333355;
    --color-selection: #43c1c8;
    --color-table-shadow: #55555533;
    --color-table: rgb(133, 181, 232);
    --color-table-border: #333333aa;
    --color-table-shadow: #22222222;
    --color-table-hover: #b9b9b9dc;
    --color-table-body: #eeeeeeaa;
    --color-card-border: #4e4e4e65;
    --color-card-shadow: #4e4e4eaa;
    --color-card: #eeeeeedc;
    --color-markdown-blockquote: #ffffff50;
    --color-markdown-blockquote-saying: #113285;
    --color-tag-active: #8ea36797;
    --color-tag-active-border: #477215;
    --color-cpp-border: #eeeeeeaa;
    --color-input: #000000;
    --color-background-input: #eeeeeeaa;
    --color-input-say: #1d98e5;
    --color-apps-showcard: rgba(218, 146, 146, 0.319);
    --color-active: #4f0f0f;
} 