.luogu-compare-main {
    flex-direction: row;
    display: flex;
    height: 100vh;
    width: 100%;
}

.compare-item {
    flex: 1;
}

.luogu-compare-tag {
    color: #ffffff;
    border: none;
}

.compare-win {
    color: green;
}

.compare-lose {
    color: red;
}